html,
body {
  height: 100%;
}

.cid-app {
  height: 100vh;
  overflow: hidden;
}

.cid-car .field {
  margin-bottom: 0.25em;
}
.cid-car .field label {
  display: inline-block;
  width: 80px;
  font-weight: 700;
  text-transform: capitalize;
}
.cid-car .img {
  width: 50%;
  height: 100%;
  min-height: 80px;
  background-position: center right;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
}

.cid-header {
  background: #eee;
  border-bottom: 1px solid #e4e4e4;
}
.cid-header .label {
  position: relative;
  display: block;
  z-index: 100;
  line-height: 64px;
  height: 64px;
  padding: 0 15px;
}
.cid-header .label.active {
  background: #3949a3;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
  box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
}
.cid-header .car-count {
  padding-right: 15px;
  line-height: 64px;
}
.cid-header .car-count span:before {
  content: '(';
}
.cid-header .car-count span:after {
  content: ')';
}
.cid-header md-fab-speed-dial {
  position: absolute;
  width: 80px;
}
.cid-header md-fab-speed-dial md-fab-actions {
  margin-top: 25px;
  padding: 5px 15px;
}
.cid-header md-fab-speed-dial md-fab-actions[aria-hidden='false'] {
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
.cid-header md-select.ng-dirty md-select-value span {
  color: #333;
}
.cid-header .subheaders {
  position: absolute;
  height: 60px;
  top: -60px;
  left: 0;
  z-index: -1;
  width: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  background: #3949a3;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.25);
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.25);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.cid-header .subheaders.show {
  top: 63px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.cid-header .subheader {
  padding-left: 50px;
}
.cid-header .subheader .filter.price {
  height: 20px;
}
.cid-header .subheader .sort.price {
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
}
.cid-header .subheader .sort.price.up {
  background: #000;
  background: -moz--webkit-linear-gradient(top, #000 0%, rgba(0,0,0,0) 100%);
  background: -moz--moz-linear-gradient(top, #000 0%, rgba(0,0,0,0) 100%);
  background: -moz--o-linear-gradient(top, #000 0%, rgba(0,0,0,0) 100%);
  background: -moz--ms-linear-gradient(top, #000 0%, rgba(0,0,0,0) 100%);
  background: -moz-linear-gradient(to bottom, #000 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #000), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #000), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #000), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #000), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-gradient(to right bottom, left bottom, color-stop(0%, #000), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit--webkit-linear-gradient(top, #000 0%, rgba(0,0,0,0) 100%);
  background: -webkit--moz-linear-gradient(top, #000 0%, rgba(0,0,0,0) 100%);
  background: -webkit--o-linear-gradient(top, #000 0%, rgba(0,0,0,0) 100%);
  background: -webkit--ms-linear-gradient(top, #000 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(to bottom, #000 0%, rgba(0,0,0,0) 100%);
  background: -o--webkit-linear-gradient(top, #000 0%, rgba(0,0,0,0) 100%);
  background: -o--moz-linear-gradient(top, #000 0%, rgba(0,0,0,0) 100%);
  background: -o--o-linear-gradient(top, #000 0%, rgba(0,0,0,0) 100%);
  background: -o--ms-linear-gradient(top, #000 0%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(to bottom, #000 0%, rgba(0,0,0,0) 100%);
  background: -ms--webkit-linear-gradient(top, #000 0%, rgba(0,0,0,0) 100%);
  background: -ms--moz-linear-gradient(top, #000 0%, rgba(0,0,0,0) 100%);
  background: -ms--o-linear-gradient(top, #000 0%, rgba(0,0,0,0) 100%);
  background: -ms--ms-linear-gradient(top, #000 0%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(to bottom, #000 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top, #000 0%, rgba(0,0,0,0) 100%);
  background: -moz-linear-gradient(top, #000 0%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top, #000 0%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top, #000 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, #000 0%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );;
}
.cid-header .subheader .sort.price.down {
  background: rgba(0,0,0,0);
  background: -moz--webkit-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: -moz--moz-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: -moz--o-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: -moz--ms-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0%, #000 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, #000));
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, #000));
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, #000));
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, #000));
  background: -webkit-gradient(to right bottom, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, #000));
  background: -webkit--webkit-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: -webkit--moz-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: -webkit--o-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: -webkit--ms-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0%, #000 100%);
  background: -o--webkit-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: -o--moz-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: -o--o-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: -o--ms-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: -o-linear-gradient(to bottom, rgba(0,0,0,0) 0%, #000 100%);
  background: -ms--webkit-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: -ms--moz-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: -ms--o-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: -ms--ms-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: -ms-linear-gradient(to bottom, rgba(0,0,0,0) 0%, #000 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, #000 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );;
}

.cid-listings .load-more {
  height: 80px;
}
