.cid-car
    .field
        margin-bottom .25em

        label
            display inline-block
            width 80px
            font-weight 700
            text-transform capitalize

    .img
        width 50%
        height 100%
        min-height 80px
        background-position center right
        background-size contain
        background-repeat no-repeat