md-card.cid-car
    md-card-content(layout='row')
        .fields
            cid-car-field(label="price")
            cid-car-field(label="make")
            cid-car-field(label="model")
            cid-car-field(label="year")
        .image(flex, layout='row', layout-align='end')
            .img(style="background-image: url(img/cars/{{ctrl.image}});")