.cid-listings
    .car(ng-repeat="car in ctrl.filteredCars ")
        cid-car(car="car")
    .load-more(layout='column', layout-align='center')
        div(layout='row', layout-align='center')
            md-button.md-raised.md-primary(ng-click="ctrl.more()") Load More