.cid-header
    background #eee
    border-bottom 1px solid #e4e4e4

    .label
        position relative
        display block
        z-index 100
        line-height 64px
        height 64px
        padding 0 15px

        &.active
            background darken(#3F51B5, 10%)
            box-shadow inset 0 0 3px rgba(#000, .15)


    .car-count
        padding-right 15px
        line-height 64px

        span:before
            content '('
        span:after
            content ')'

    md-fab-speed-dial
        position absolute
        width 80px

        md-fab-actions
            margin-top 25px
            padding 5px 15px

            &[aria-hidden='false']
                background #fff
                box-shadow 0 0 3px rgba(#000, .2)


    md-select.ng-dirty
        md-select-value span
            color #333

    .subheaders
        position absolute
        height 60px
        top -60px
        left 0
        z-index -1
        width 100%
        opacity 0
        background darken(#3F51B5, 10%)
        box-shadow inset 0 2px 4px rgba(#000, .25)
        transition all .3s ease-in

        &.show
            top 63px
            opacity 1

    .subheader
        padding-left 50px

        .filter.price
            height 20px

        .sort.price
            height 60px
            line-height 60px
            padding 0 15px

            &.up
                background: rgba(0,0,0,1);
                background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
                background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
                filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );" % ()

            &.down
                background: rgba(0,0,0,0);
                background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
                background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
                background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
                background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
                background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
                filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );" % ()