md-toolbar.cid-header(md-scroll-shrink, layout='column', layout-align='center')
    div(layout='row', layout-align='left')
        .header-section.filters(layout='row')
            label.label(ng-click="ctrl.toggleSubhead('filters')", ng-class="{ active: ctrl._subhead == 'filters' }") Filter

            label.label(ng-click="ctrl.toggleSubhead('sort')", ng-class="{ active: ctrl._subhead == 'sort' }") Sort

        .header-section.car-count(flex, layout, layout-align='end')
            span {{ctrl.carCount}}

    .subheaders(layout='column', layout-align='center', ng-class="{ show: !!ctrl._subhead }")
        .subheader.filters(ng-show="ctrl._subhead == 'filters' ", layout='row')
            .filter.price
                md-fab-speed-dial.md-scale(md-direction="down")

                    md-fab-trigger
                        span $$

                    md-fab-actions
                        .md-fab-action
                            md-input-container
                                label Min
                                md-select(ng-model="ctrl.filters.min")
                                    md-option(ng-repeat="option in ctrl.MIN_OPTIONS", value="{{option.hasOwnProperty('value') ? option.value : option}}") {{option.label || option}}

                        .md-fab-action
                            md-input-container
                                label Max
                                md-select(ng-model="ctrl.filters.max")
                                    md-option(ng-repeat="option in ctrl.MAX_OPTIONS",value="{{option.hasOwnProperty('value') ? option.value : option}}") {{option.label || option}}

        .subheader.sort(ng-show="ctrl._subhead == 'sort' ", layout='row')
            .sort.price(ng-click="ctrl.toggleSort('price')", ng-class="{ up: ctrl.sort.method == 'price' && ctrl.sort.mode == 1, down: ctrl.sort.method == 'price' && ctrl.sort.mode == 2 }")
                span $$